{#
/**
 * @file
 * Default theme implementation to present a facility entity.
 *
 * This template is used when viewing a canonical facility page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_facility()
 */
#}
{%
  set classes = [
    'facility',
    bundle|clean_class,
    view_mode ? view_mode|clean_class,
    status ? 'is-published' : 'is-unpublished',
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <div class="article-heading">
    {% if view_mode == 'full' %}
      <div class="article-kicker">Rentals</div>
      <h2 class="page-title">{{ title_prefix }}{{ content.label|render|striptags|trim }}{{ title_suffix }}</h2>
      {% if content.field_conservatory %}
        <h4 class="page-subtitle"><a href="{{- content.field_conservatory.0['#url'].toString() -}}">{{- content.field_conservatory.0['#entity'].getTitle() -}}</a></h4>
      {% endif %}
      {% if content.field_garden %}
        <h4 class="page-subtitle"><a href="{{- content.field_garden.0['#url'].toString() -}}">{{- content.field_garden.0['#entity'].getTitle() -}}</a></h4>
      {% endif %}
    {% else %}
      <h2>{{ title_prefix }}{{ content.label|render|striptags|trim }}{{ title_suffix }}</h2>
    {% endif %}
  </div>
  <div class="article-body article-has-aside article-has-aside-right row">
    {% block content %}
      <div class="article-body-content col-lg-8 col-md-6 row">
        <div class="col-md-8 article-body-content-column article-body-content-column-left article-body-content-column-main">
          {% if content %}
            {{- content|without('field_location', 'field_capacity', 'field_pricing_rates', 'field_garden', 'field_seating_chart_image', 'field_location_map_image', 'field_garden', 'field_conservatory', 'field_inquiry_webform') -}}
          {% endif %}
        </div>
        <div class="col-md-4 article-body-content-column article-body-content-column-right">
          {% if content.field_capacity %}
            <div class="field field--name-field-capacity field--type-integer field--label-below">
              <div class="field__item">{{- content.field_capacity.0 -}}</div>
              <div class="field__label">Capacity</div>
            </div>
          {% endif %}
          {{- content.field_pricing_rates -}}
          {{- content.field_seating_chart_image -}}
          {{- content.field_location_map_image -}}
        </div>
      </div>
    {% endblock %}
    <div class="article-aside article-aside-right col-lg-4 col-md-6">
      <div class="article-aside-content">
        {{- content.field_inquiry_webform -}}
      </div>
    </div>
  </div>
</article>
