{#
/**
 * @file
 * Default theme implementation to present a plant entity.
 *
 * This template is used when viewing a canonical plant page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_plant()
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'node',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {% if content.field_dxpr_drag_drop %}
    {{ content.field_dxpr_drag_drop }}
  {% else %}
    <div class="standard-layout simple-header container-fluid-wrapper">
      <div class="container-fluid">
        <div class="row banner-thin">
          <div class="col-md-4">
            {{ drupal_block('system_breadcrumb_block') }}
            <div class="field field--name-field-post-type field--type-entity-reference field--label-hidden field__item">
              <a href="/articles/{{ content.field_post_type|render|striptags|trim|lower  }}">{{ content.field_post_type|render|striptags|trim }}</a>
            </div>
            <h1>{{ node.label }}</h1>
            <div class="field field--name-created field__item">Published {{ node.getCreatedTime|format_date('medium_date') }}</div>
          </div>
          <div class="col-md-8">
          </div>
        </div>
      </div>
    </div>
    <div class="article-body article-has-aside article-has-aside-right row">
      {% block content %}
      <div class="article-body-content col-lg-12 col-md-12 row">
        <div class="col-lg-4 col-md-4 article-body-content-column article-body-content-column-left article-body-content-column">
          {{ content.field_image }}
          {{ content.field_images }}
        </div>
        <div class="col-lg-6 col-md-6 article-body-content-column article-body-content-column-right article-body-content-column-main">
          <div{{ content_attributes.addClass('content') }}>   
            {{ content|without('flippy_pager', 'field_post_type', 'field_external_source', 'field_image', 'field_images', 'field_dxpr_drag_drop') }}
        </div>
      </div>
      {% endblock %}
      <div class="article-aside article-aside-right col-lg-2 col-md-2">
        <div class="article-aside-content">
          <h3>More...</h3>
          {{ drupal_view('posts', 'block_1') }}
        </div>
      </div>
    </div>
  {% endif %}
</article>
