{#
/**
 * @file
 * Default theme implementation to present a plant entity.
 *
 * This template is used when viewing a canonical plant page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_plant()
 */
#}
{%
  set classes = [
    'plant',
    bundle|clean_class,
    view_mode ? view_mode|clean_class,
    status ? 'is-published' : 'is-unpublished',
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <div class="article-heading">
    {{- content.field_display_name -}}
    {{- content.field_common_name -}}
  </div>
  <div class="article-body article-has-aside article-has-aside-right row">
    {% block content %}
      <div class="article-body-content col-lg-8 col-md-6 row">
        <div class="col-lg-4 col-md-6 article-body-content-column article-body-content-column-left article-body-content-column">
          <div class="boxed-fields boxed-fields-light">
            <h4>Details</h4>
            <hr />
            {{- content.field_mbgna_id -}}
            {{- content.field_legacy_id -}}
            {{- content.field_genus -}}
            {{- content.field_species -}}
            {{- content.field_family -}}
            {{- content.field_origin -}}
            {{- content.field_collections -}}
          </div>
          <div class="boxed-fields boxed-fields-light">
            <h4>Additional Details</h4>
            <hr />
            {{- content.field_donor -}}
            {{- content.field_year_introduced -}}
            {{- content.field_year_acquired -}}
          </div>
        </div>
        <div class="col-lg-8 col-md-6 article-body-content-column article-body-content-column-right article-body-content-column-main">
          {% if content.field_3d_view %}
            {{- content.field_3d_view -}}
          {% else %}
            {{- content.field_display_image -}}
          {% endif %}
          {{- content.field_description_heading -}}
          {{- content.field_description -}}
          {{- content.field_video -}}
          {{- content.field_gallery_images -}}
          {# get_bed_number #}
          {# {{- dsm(content.field_locations) -}} #}
          {{- content.field_locations -}}
        </div>
      </div>
    {% endblock %}
    <div class="article-aside article-aside-right col-lg-4 col-md-6">
      <div class="article-aside-content">
        {{- content.field_commerce -}}
      </div>
    </div>
  </div>
</article>