{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes.addClass('profile', view_mode) }}>
  {% if content %}
    <div class="row dashboard-row dashboard-summary">
      <div class="col col-level1 col-lg-4 col-md-4">
        <div class="row user-summary">
          <div class="col col-level2 col-lg-4 col-md-4">
            <div class="user-photo">
              {{ profile.field_photo|raw }}
            </div>
            {% if privileged %}
              <div class="fields fields-user-contact-info">
                <div class="user-email"><a href="mailto:{{ user.email }}">{{ user.email }}</a></div>
                {% if (profile.field_phone_primary|render|striptags|trim) %}
                  {{ profile.field_phone_primary }}
                {% endif %}
              </div>
            {% endif %}
          </div>
          <div class="col col-level2 col-lg-8 col-md-8">
            <div class="fields fields-user-identity">
              {% if content.realname|render|striptags|trim %}
                <div class="field field--name-field-realname field--type-string field--label-hidden field__item">{{ content.realname }}</div>
              {% endif %}

              {% if (profile.field_title|render|striptags|trim) %}
                <div class="field field--name-field-title field--type-string field--label-hidden field__item">
                  {{ profile.field_title }}
                </div>
              {% endif %}

              {% if (profile.field_organization|render|striptags|trim) %}
                <div class="field field--name-field-organization field--type-string field--label-hidden field__item">
                  {{ profile.field_organization }}
                </div>
              {% endif %}

              {% if privileged %}
                {{ drupal_entity('block', 'mbgna_dxpr_local_tasks') }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col col-level1 col-lg-4 col-md-4">
        {% if privileged %}
          <div class="boxed-field boxed-field-light">
            {{ drupal_view('membership', 'block_1') }}
          </div>
        {% endif %}
      </div>
      <div class="col col-level1 col-lg-4 col-md-4">
        {% if privileged %}
          <div class="boxed-field boxed-field-light">
            {{ drupal_entity('webform', 'member_contact') }}
          </div>
        {% endif %}
      </div>
    </div>

    {% if privileged %}
      <hr class="landing-section">
      <div class="row dashboard-row dashboard-content">
        <h2>Member Content</h2>
        <div class="col col-first col-level1 col-lg-4 col-md-4">
          {% if drupal_view_result('posts', 'block_2', 'news') is not empty %}
            <div class="boxed-field boxed-field-light">
              {{- drupal_view('posts', 'block_2') -}}
            </div>
          {% endif %}
        </div>
        <div class="col col-first col-level1 col-lg-4 col-md-4">
          {% if drupal_view_result('events', 'block_4') is not empty %}
            <div class="boxed-field boxed-field-light">
              {{- drupal_view('events', 'block_4') -}}
            </div>
          {% endif %}
        </div>
        <div class="col col-last col-level1 col-lg-4 col-md-4">
          {% if drupal_view_result('resource', 'block_1') is not empty %}
            <div class="boxed-field boxed-field-light">
              {{- drupal_view('resource', 'block_1') -}}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}

{#     {% if privileged %}
      <hr class="landing-section">
      <div class="row dashboard-row dashboard-commerce">
        <h2>Membership Information</h2>
        <div class="col col-first col-level1 col-lg-6 col-md-6">
          <div class="boxed-field boxed-field-light">
            {{ drupal_view('membership', 'block_1') }}
          </div>
        </div>
        <div class="col col-last col-level1 col-lg-6 col-md-6">
          <div class="boxed-field boxed-field-light">
            {{ drupal_entity('webform', 'member_contact') }}
          </div>
        </div>
      </div>
    {% endif %} #}

      <hr class="landing-section">
      <div class="row dashboard-row dashboard-commerce">
        {% if privileged %}
          <h2>My Orders</h2>
        {% endif %}
        <div class="col col-first col-level1 col-lg-4 col-md-4">
            <div class="boxed-field boxed-field-light">
              <h3>{% if privileged %}My {% endif %}Shopping Cart</h3>
              {{ drupal_block('commerce_cart') }}
            </div>
        </div>
        <div class="col col-level1 col-lg-4 col-md-4">
        </div>
        <div class="col col-level1 col-lg-4 col-md-4">
        </div>
      </div>

    {% 
    if drupal_view_result('content_profile', 'block_1', user.id, 'news') is not empty or
       drupal_view_result('content_profile', 'block_1', user.id, 'blog') is not empty or
       drupal_view_result('content_profile', 'block_1', user.id, 'press-release') is not empty
    %}
      <hr class="landing-section">
      <div class="row dashboard-row dashboard-publications">
        {% if privileged %}
          <h2>My Publications</h2>
        {% endif %}
        <div class="col col-first col-level1 col-lg-4 col-md-4">
          {% if drupal_view_result('content_profile', 'block_1', user.id, 'news') is not empty %}
            <div class="boxed-field boxed-field-light">
              <h3>{% if privileged %}My {% endif %}News</h3>
              {{- drupal_view('content_profile', 'block_1', user.id, 'news') -}}
            </div>
          {% endif %}
        </div>
        <div class="col col-level1 col-lg-4 col-md-4">
          {% if drupal_view_result('content_profile', 'block_1', user.id, 'blog') is not empty %}
            <div class="boxed-field boxed-field-light">
              <h3>{% if privileged %}My {% endif %}Stories</h3>
              {{- drupal_view('content_profile', 'block_1', user.id, 'blog') -}}
            </div>
          {% endif %}
        </div>
        <div class="col col-last col-level1 col-lg-4 col-md-4">
          {% if drupal_view_result('content_profile', 'block_1', user.id, 'press-release') is not empty %}
            <div class="boxed-field boxed-field-light">
              <h3>{% if privileged %}My {% endif %}Press Releases</h3>
              {{- drupal_view('content_profile', 'block_1', user.id, 'press-release') -}}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% if privileged %}
      {% if drupal_view_result('content_dashboard', 'block_1') is not empty %}
        <hr class="landing-section">
        <div class="row dashboard-row dashboard-manage">
          <h2>My Content</h2>
          <div class="col col-first col-level1 col-lg-12 col-md-12">
            <div class="boxed-field boxed-field-light">
              {{- drupal_view('content_dashboard', 'block_1') -}}
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% endif %}
</article>
